<div class="container">
    <div class="inner-container">
        <h1 class="greeting">Hi I'm <span id="name">Stanley</span>.</h1>
        <p>
            I am a full stack developer from New York City who has worked as a Software Developer for NYC 
            Department of Environmental Protection developing internal applications using
            Angular, .NET Core, SQL Server, and IIS. Recently, I have earned a B.S. in Computer Science from Western Governors University
            and am pursuing new opportunities.
        </p>
        <a href="../assets/Resume2.pdf" target="_blank">
            <div class="btn-wrapper">
                <button class="outline-btn">My Resume</button>
            </div>
        </a>
    </div>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
    <span class="sparkle"></span>
</div>
