.inner-container {
    max-width: 40rem;
    height: 90vh;
    margin-top: 5%;
    animation: fade 2s ease;
}

.greeting {
    border: none;
    padding: 0;
}

p {
    line-height: 1.5;
}

#name {
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-wrapper {
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.outline-btn {
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
    background-color: #212121;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
}

.sparkle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: sparkle 2s infinite;
}

.sparkle:nth-child(2) {
    top: 10%;
    left: 10%;
    animation-delay: 1s;
}

.sparkle:nth-child(3) {
    top: 23%;
    left: 63%;
    animation-delay: 0.5s;
}

.sparkle:nth-child(4) {
    top: 58%;
    left: 45%;
    animation-delay: 0.1s;
}

.sparkle:nth-child(5) {
    top: 87%;
    left: 23%;
    animation-delay: 0.8s;
}

.sparkle:nth-child(6) {
    top: 96%;
    left: 91%;
    animation-delay: 1s;
}

.sparkle:nth-child(7) {
    top: 72%;
    left: 4%;
    animation-delay: 0s;
}

.sparkle:nth-child(8) {
    top: 9%;
    left: 52%;
    animation-delay: 0.5s;
}

.sparkle:nth-child(9) {
    top: 37%;
    left: 69%;
    animation-delay: 1s;
}

.sparkle:nth-child(10) {
    top: 87%;
    left: 23%;
    animation-delay: 0.8s;
}

.sparkle:nth-child(11) {
    top: 45%;
    left: 16%;
    animation-delay: 0.8s;
}

.sparkle:nth-child(12) {
    top: 22%;
    left: 81%;
    animation-delay: 0.8s;
}

.sparkle:nth-child(13) {
    top: 65%;
    left: 90%;
    animation-delay: 0.8s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes sparkle {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}