<div class="container">
    <img src="assets/background.webp">
    <div class="inner-container">
        <h1 class="greeting">Hi I'm Stanley.</h1>
        <p>
            I am a full stack developer from New York City who is always looking for new opportunities to learn and grow.
            I have been developing web applications for the Department of Environmental Protection with Angular and .NET and have 
            worked on things ranging from designing user interfaces to developing Web APIs.
        </p>
        <button class="outline-btn">Download Resume</button>
    </div>
</div>
