<div class="container">
    <img src="assets/background.webp">
    <div class="inner-container">
        <h1 class="greeting">Hi I'm Stanley.</h1>
        <p>
            I am a full stack developer from New York City who has worked as a Software Developer for NYC 
            Department of Environmental Protection developing internal applications using
            Angular, .NET Core, SQL Server, and IIS. Recently, I have earned a B.S. in Computer Science from Western Governors University
            and am pursuing new opportunities.
        </p>
        <a href="../assets/Resume2.pdf" download="Resume.pdf">
            <button class="outline-btn">Download Resume</button>
        </a>
    </div>
</div>
