header {
    position: fixed;
    top: 0;
    width: calc(100% - 2rem);
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

img {
    width: 30px;
    animation: glow 3s infinite;
}

.header-right {
    display: flex;
}

.header-right div {
    cursor: pointer;
    font-size: 12pt;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 2rem;
    padding-bottom: 0.2rem;
}

.header-right div:hover {
    background: var(--primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-container {
    margin: auto;
}

footer {
    color: white;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i {
    margin: 0 1rem;
    font-size: 20pt;
}


@keyframes glow {
    0%, 100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}
