<div class="container">
    <header>
        <img src="../assets/logo2.png">
        <div class="header-right">
            <!-- <div (click)="scrollTo(welcome)">ABOUT</div> -->
            <!-- <div (click)="scrollTo(projects)">PROJECTS</div> -->
        </div>
    </header>

    <app-welcome></app-welcome>

    <app-experience></app-experience>

    <app-projects></app-projects>

    <footer>
        <a href="https://github.com/SpaceGlider777"><i class="bi bi-github"></i></a>
        <a href="https://linkedin.com/in/stanley-chin-17435516b/"><i class="bi bi-linkedin"></i></a>
    </footer>
</div>