a {
    color: white;
}

a:hover {
    background: var(--primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
}

.inner-container {
    padding-bottom: 15rem;
}

img {
    width: 5rem;
    margin: 2rem;
}

.img-container {
    margin: auto;
}

.footer {
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #212121;
    color: white;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer i {
    margin: 0 1rem;
    font-size: 20pt;
}
