@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --primary: #536dfe;
}

body {
    margin: 0;
    background-color: #212121;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.container {
    height: 90svh;
    padding-top: 10vh;
}

.inner-container {
    margin: 0 25%;
}

.outline-btn {
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 0.8rem;
}

.outline-btn:hover {
    box-shadow: 0 0 5px 3px var(--primary);
}

.vertical-line {
    width: 1px;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 1px;
}

.sub-header {
    opacity: 0.5;
}

.title {
    letter-spacing: 1px;
}

button {
    cursor: pointer;
}

.shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media (max-width: 961px) {
    .inner-container {
        margin: 0 5%;
    }
}