<div class="container">
    <div class="inner-container">
        <h3>Experience</h3>
        <div class="experiences">
            <div class="year content">2019 - 2023</div>
            <div>
                <div class="employer">NYC Department of Environmental Protection | Fullstack Developer</div>
                <div class="description content">Worked within a team of five developers building software to aid wastewater treatment processes in New York City.</div>
                <div class="technologies">Angular • .NET • SQL Server • Azure DevOps • IIS</div>
            </div>
        </div>
    </div>
</div>
