<div class="container">
    <div class="inner-container">
        <h2 class="title">EXPERIENCE</h2>

        <div>
            <h3>NYC Department of Environmental Protection</h3>
            <div class="sub-header">2019 - Present | Fullstack Web Developer</div>
            <ul>
                <li>Developed web applications with Angular, .NET, and MSSQL database.</li>
                <li>Designed front-end utilizing the Material Design library and also custom made components.</li>
                <li>Developed REST APIs with authentication and authorization.</li>
                <li>Manually tested functionality and also wrote unit/integrated tests ran within an Azure Devops CI/CD pipeline.</li>
                <li>Optimized Powershell deployment scripts and performance of web applications.</li>
                <li>Developed a simulated marine vessel tracker with the Cesium map library.</li>
            </ul>
        </div>
    </div>
</div>
